.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

%btn-shared {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 35px;
    color: #fff
}

.btn {
    &-primary {
        @extend %btn-shared;
        background: $primary-color;
        color: #fff;
        &:hover {
            background: $main-color;
        }
    }
    &-dark {
        @extend %btn-shared;
        background: $dark-color;
        &:hover {
            background: $main-color;
        }
    }
    &-dark-center {
        @extend %btn-shared;
        margin-top: 2rem;
        background: $dark-color;
        margin-left: 40%;
        &:hover {
            background: $main-color;
        }
    }
}

// color 
.bg {
    &-secondery {
        background: $bg-secondery;
    }
}

.py {
    &-1 {
        padding: 1rem 0;
    }
    &-2 {
        padding: 2rem 0;
    }
    &-3 {
        padding: 3rem 0;
    }
    &-4 {
        padding: 4rem 0;
    }
}

.py-8 {
    padding: 4rem;
}

.section-title {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.4rem;
}

.lead {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}